.cart-btn{
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    color: var(--primary-green);
    border: 1px solid var(--primary-green);
    background-color: var(--text-accent-color);
    padding: 15px 10px;
    border-radius: 10px;
    z-index: 100;
}