<div class="contacts-mob-container is-hidden">
  <button class="close-contacts-btn">
    <svg class="contacts-close-icon" width="16" height="16">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <div class="contacts-list-wrapper">
    <ul class="contacts-mob-list">
      <li class="contacts-mob-item">
        <a href="tel:+38(088)-257-58-58" class="contacts-mob-link"
          >+38(088)-257-58-58</a
        >
      </li>
      <li class="contacts-mob-item">
        <a href="mailto:pizzaShop@gmail.com" class="contacts-mob-link"
          >pizzaShop@gmail.com</a
        >
      </li>
    </ul>
    <ul class="contacts-mob-socials">
      <li class="mob-socials-item">
        <a
          class="mob-socials-link"
          href="https://www.instagram.com/"
          rel="noopener noreferer"
          target="_blank"
          aria-label="instagram"
        >
          <svg class="socials-icon" width="26" height="26">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mob-socials-item">
        <a
          class="mob-socials-link"
          href="https://twitter.com/"
          rel="noopener noreferer"
          target="_blank"
          aria-label="twitter"
        >
          <svg class="socials-icon" width="26" height="26">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="mob-socials-item">
        <a
          class="mob-socials-link"
          href="https://www.facebook.com/"
          rel="noopener noreferer"
          target="_blank"
          aria-label="facebook"
        >
          <svg class="socials-icon" width="26" height="26">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
