<div class="mobile-menu-container is-hidden">
  <button class="close-mob-menu-btn">
    <svg class="mob-menu-close-icon" width="16" height="16">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <ul class="mob-menu-list">
    <li class="mob-menu-item">
      <a href="#promotions" class="menu-link">Promotions</a>
    </li>
    <li class="mob-menu-item"><a href="#new" class="menu-link">New</a></li>
    <li class="mob-menu-item"><a href="#pizza" class="menu-link">Pizza</a></li>
    <li class="mob-menu-item">
      <a href="#about-us" class="menu-link">About us</a>
    </li>
    <li class="mob-menu-item">
      <a href="#delivery" class="menu-link">Delivery</a>
    </li>
  </ul>
</div>
