<section class="pizza-sec section">
  <div class="pizza-wrapper container">
    <ul class="pizza-list">
      <li class="pizza-item">
        <img
          src="./images/icon.png"
          alt="pizza"
          class="pizza-img"
          width="100"
          height="100"
        />
        <p class="pizza-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
          adipisci.
        </p>
        <div class="quantity-price-wrap">
          <div class="counter-wrapper">
            <button
              class="decrement"
              type="button"
              data-action="minus"
              disabled
            >
              -
            </button>
            <span class="counter-label" data-counter>1</span>
            <button class="increment" type="button" data-action="plus">
              +
            </button>
          </div>

          <div class="price-wrapper">
            <p class="price"><span data-price="65">65</span><span>$</span></p>
          </div>
        </div>

        <button class="pizza-btn" type="button" data-action="modal-open">
          Order
        </button>
      </li>
      <li class="pizza-item">
        <img
          src="./images/icon.png"
          alt="pizza"
          class="pizza-img"
          width="100"
          height="100"
        />
        <p class="pizza-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
          adipisci.
        </p>
        <div class="quantity-price-wrap">
          <div class="counter-wrapper">
            <button
              class="decrement"
              type="button"
              data-action="minus"
              disabled
            >
              -
            </button>
            <span class="counter-label" data-counter>1</span>
            <button class="increment" type="button" data-action="plus">
              +
            </button>
          </div>

          <div class="price-wrapper">
            <p class="price"><span data-price="45">45</span><span>$</span></p>
          </div>
        </div>
        <button class="pizza-btn" type="button" data-action="modal-open">
          Order
        </button>
      </li>
      <li class="pizza-item">
        <img
          src="./images/icon.png"
          alt="pizza"
          class="pizza-img"
          width="100"
          height="100"
        />
        <p class="pizza-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
          adipisci.
        </p>

        <div class="quantity-price-wrap">
          <div class="counter-wrapper">
            <button
              class="decrement"
              type="button"
              data-action="minus"
              disabled
            >
              -
            </button>
            <span class="counter-label" data-counter>1</span>
            <button class="increment" type="button" data-action="plus">
              +
            </button>
          </div>

          <div class="price-wrapper">
            <p class="price"><span data-price="70">70</span><span>$</span></p>
          </div>
        </div>
        <button class="pizza-btn" type="button" data-action="modal-open">
          Order
        </button>
      </li>
      <li class="pizza-item">
        <img
          src="./images/icon.png"
          alt="pizza"
          class="pizza-img"
          width="100"
          height="100"
        />
        <p class="pizza-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
          adipisci.
        </p>

        <div class="quantity-price-wrap">
          <div class="counter-wrapper">
            <button
              class="decrement"
              type="button"
              data-action="minus"
              disabled
            >
              -
            </button>
            <span class="counter-label" data-counter>1</span>
            <button class="increment" type="button" data-action="plus">
              +
            </button>
          </div>

          <div class="price-wrapper">
            <p class="price"><span data-price="30">30</span><span>$</span></p>
          </div>
        </div>
        <button class="pizza-btn" type="button" data-action="modal-open">
          Order
        </button>
      </li>
      <li class="pizza-item">
        <img
          src="./images/icon.png"
          alt="pizza"
          class="pizza-img"
          width="100"
          height="100"
        />
        <p class="pizza-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
          adipisci.
        </p>

        <div class="quantity-price-wrap">
          <div class="counter-wrapper">
            <button
              class="decrement"
              type="button"
              data-action="minus"
              disabled
            >
              -
            </button>
            <span class="counter-label" data-counter>1</span>
            <button class="increment" type="button" data-action="plus">
              +
            </button>
          </div>

          <div class="price-wrapper">
            <p class="price"><span data-price="25">25</span> <span>$</span></p>
          </div>
        </div>
        <button class="pizza-btn" type="button" data-action="modal-open">
          Order
        </button>
      </li>
      <li class="pizza-item">
        <img
          src="./images/icon.png"
          alt="pizza"
          class="pizza-img"
          width="100"
          height="100"
        />
        <p class="pizza-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
          adipisci.
        </p>

        <div class="quantity-price-wrap">
          <div class="counter-wrapper">
            <button
              class="decrement"
              type="button"
              data-action="minus"
              disabled
            >
              -
            </button>
            <span class="counter-label" data-counter>1</span>
            <button class="increment" type="button" data-action="plus">
              +
            </button>
          </div>

          <div class="price-wrapper">
            <p class="price"><span data-price="50">50</span> <span>$</span></p>
          </div>
        </div>
        <button class="pizza-btn" type="button" data-action="modal-open">
          Order
        </button>
      </li>
    </ul>
  </div>
</section>
